.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  background: #f9f7f7 !important;
}

.footer {
  position: fixed !important;
  bottom: 0px;
  width: 100%;
  background: #f9f7f7 !important;
}

.bodyBoard {
  margin-top: 7em;
  color: #777 !important;
}

.description {
  padding-left: 20px;
  text-align: right;
}

.description > img {
  padding-left: 20px;
}

.ui.text.container { 
  max-width: 1000px !important;
}